{% load widget_tweaks %}
<style>
    .form-group {
        margin-bottom: 1rem;
    }
    .form-group label {
        display: block;
        margin-bottom: 0.5rem;
    }
    .form-group input,
    .form-group select {
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        line-height: 1.25;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form-group input:focus,
    .form-group select:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .btn-primary{
        background :rgb(228, 77, 7);
        color : white;
    }
    .btn-primary:hover{
        background :rgb(187, 63, 6);
    }
</style>
<form method="post" 
      hx-post="{% if object %}{% url 'ville-update' object.id %}{% else %}{% url 'ville-create' %}{% endif %}"
      hx-target="#ville-form-container">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="id_nom">Nom</label>
        {{ form.nom|add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="id_region">Région</label>
        {{ form.region|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
