{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div>
    <button onclick="history.back()" class="btn-retour"><i class="fas fa-arrow-left"></i> Retour</button>
</div>
<div class="materiel-detail-card">
  <div class="image-section">
    {% if materiel.images_materiel %}
      <div class="materiel-carousel swiper">
        <div class="swiper-wrapper">
          {% for image in materiel.images_materiel.all %}
            <div class="swiper-slide">
              <img src="{{ image.image.url }}" alt="Image du matériel" />
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    {% else %}
      Pas d'image
    {% endif %}
  </div>
  <div class="info-section">
    <h2><i class="fas fa-box-open" style="color:black;"></i> {{ materiel.nom }}</h2>
    <p><i class="fas fa-tags" style="color:black;"></i> <strong>Catégorie :</strong> <span style="background: #E1F5FE; color: #29B6F6; padding: 0 12px; border-radius: 8px;">{{ materiel.categorie.nom }}</span></p>
    <p><i class="fas fa-layer-group" style="color:black;"></i> <strong>Quantité :</strong> {{ materiel.quantite }}</p>
    <p><i class="fa-solid fa-church" style="color:black;"></i> <strong>Eglise :</strong> {{ materiel.logistique.eglise.nom }}</p>
    <p><i class="fa-solid fa-user-tie" style="color:black;"></i> <strong>Responsable :</strong> {{ materiel.logistique.responsable.get_full_name }}</p>
    {% if materiel.description %}
    <p><i class="fa-solid fa-hashtag" style="color:black;"></i> <strong>Description :</strong><p style="white-space: pre-wrap; margin-left: 20px;">{{ materiel.description|linebreaks }}</p></p>
    
    {% endif %}
    <p><i class="fas fa-calendar-plus" style="color:black;"></i> <strong>Ajouté le :</strong> {{ materiel.created_at|date:"d M Y" }}</p>
    <div class="actions">
      <button onclick="window.print()" class="btn green">
        <i class="fas fa-print"></i> Imprimer / PDF
      </button>
      <button onclick="shareMateriel()" class="btn blue">
        <i class="fas fa-share-alt"></i> Partager
      </button>
      <a href="{% url 'materiel-update' materiel.pk %}" class="btn orange"><i class="fas fa-edit"></i> Modifier</a>
      <a href="{% url 'materiel-delete' materiel.pk %}" class="btn red"><i class="fas fa-trash"></i> Supprimer</a>
    </div>
  </div>
</div>
<style>
  .materiel-carousel {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  .swiper-slide img {
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  .swiper-slide:hover img {
    transform: scale(1.03);
  }
</style>
{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/detail-materiel.css' %}?v={{ STATIC_VERSION }}">
  <link rel="stylesheet" href="{% static 'css/materiel/swiper-bundle.min.css' %}?v={{ STATIC_VERSION }}"/>
{% endblock extrastyle %}
{% block extrahead %}
  <script src="{% static 'js/materiel/swiper-bundle.min.js' %}?v={{ STATIC_VERSION }}"></script>
{% endblock extrahead %}
<script>
  function shareMateriel() {
    const url = window.location.href;
    if (navigator.share) {
      navigator.share({
        title: document.title,
        text: 'Consulte ce matériel :',
        url: url
      }).catch(err => console.log(err));
    } else {
      navigator.clipboard.writeText(url).then(() => {
        alert("Lien copié dans le presse-papiers !");
      });
    }
  }
  const swiper = new Swiper('.materiel-carousel', {
    loop: true,
    effect: 'fade',
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
  });
</script>
{% endblock %}

