
<!-- Pop-up corbeille -->
{% block content %}
<!-- Modal Corbeille -->
<div id="trashModal" class="modal-overlay">
  <div class="modal-box trash-modal">
    <span class="close-modal" onclick="closeTrashModal()">&times;</span>
    <h2>🗑️ Matériels récemment supprimés</h2>
    <div id="trashContent" class="trash-table-wrapper">
      <table class="trash-table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Quantité</th>
            <th>Action</th>
          </tr>
        </thead>
       <tbody id="trashBody">
        {% for m in corbeille %}
          <tr id="trashed-{{ m.id }}">
            <td>{{ m.nom }}</td>
            <td>{{ m.categorie.nom }}</td>
            <td>{{ m.quantite }}</td>
            <td>
              <button onclick="restoreMateriel({{ m.id }})" class="btn-restore">↩️ Restaurer</button>
              <button onclick="deleteFinallyMateriel({{ m.id }})" class="btn-delete">❌ Supprimer</button>
            </td>
          </tr>
        {% empty %}
          <tr><td colspan="4">Aucun matériel dans la corbeille</td></tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_script %}
<script>

  function deleteFinallyMateriel(id) {
    fetch(`/materiels/${id}/restore/delete-finally/`, {
      method: 'POST',
      headers: {
        'X-CSRFToken': getCSRFToken(),
        'X-Requested-With': 'XMLHttpRequest'
      }
    }).then(res => res.json()).then(data => {
      if (data.success) {
        showMessage("✅ Matériel définitivement supprimé !");
        const tr = document.getElementById(`trashed-${id}`);
        tr.remove();
      } else {
        showMessage("❌ " + (data.error || "Échec de la suppression"), true);
      }
    });
  }

</script>
{% endblock extra_script %}
